html {
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 300;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #212121;
  padding: 1em 0 0 0;
}

.head {
  background-image: url("../img/logo-01.svg");
  background-repeat: no-repeat;
  background-position: top left 10px;
  background-size: 75px auto;
}


h1 {
  margin: 0;
  text-align: center;
  color: #fff;
  padding: 0 0 0.5em 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
}

.buy a {
  border: 2px;
  float: right;
  border-radius: 4px;
  background-color: #B808FF;
  position: absolute;
  padding: 0.5em 2em 0.5em 2em;
  left: 82.5%;
  top: 25px;
  text-decoration: none;
  color: white;
}

.buy a:hover {
  background-color: #000;
}

h2 {
  text-align: center;
}

h3 {
  margin: 1em 0 0 2em;
}

.nav li {
  display: inline-block;
  width: 25%;
  float: left;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #212121;
  text-decoration: none;
}

nav li a{
  width: 100%;
}

.nav a:hover {
  background-color: #000;
}

body {
  margin: 0;
  background-color: #e2e2e2;
}

.img img {
  width: 90%;
  left: 5%;
  position: relative;
}

dl {
  margin: 0;
}

.date dl  {
  position: relative;
  display: inline;
  text-align: center;
  float: left;
  width: 30%;
  left:5%;
}

.date dl dd {
  margin: 0;
}

 .build dl  {
  position: relative;
  display: inline;
  text-align: center;
  float: left;
  width: 30%;
}

.build dl dd {
  margin: 0;
}

.loc dl {
  position: relative;
  display: inline;
  text-align: center;
  float: left;
  width: 30%;
}

.loc dl dd {
  margin: 0;
}

.banner {
  position: relative;
  text-align: center;
  font-size: .75rem;
  max-height: 75vh;
  overflow: hidden;
  clear: both;
}

.banner img {
  width: 100%;
}

.bannercontent {
  position: absolute;
  bottom: 2em;
  color: #fff;
  width: 100%;
  text-shadow: 1px 1px 8px rgba (0,0,0,0.8);
  bottom: 35%
}

.bannercontent p {
  margin: 0;
  font-size: 1.5em;
}

.button {
  display: inline-block;
  clear: both;
  width: 85%;
  text-align: center;
  position: relative;
  left: 7.5%;
  margin: 0 0 1em 0;
}

.button dt a {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #212121;
  border-radius: 0px;
  text-decoration: none;
  width: 85%;
  margin: 0;
}

.button dt a:hover {
  background-color: #B808FF;
}

.tickets p {
  text-align: center;
  width: 80%;
  left: 10%;
  position: relative;
}

.tickets h3 {
  text-align: center;
}

.buybut a {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #212121;
  border-radius: 0px;
  text-decoration: none;
  text-align: center;
  width: 25%;
  margin: 0;
  position: relative;
  left: 25%;
}

.buybut a:hover {
  background-color: #B808FF;
}

.banhead h2 {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #212121;
  border-radius: 0px;
  text-decoration: none;
  width: 100%;
  margin: 1em 0 0 0;
  position: relative;
}


.bannercontent .banbut a {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #212121;
  text-decoration: none;
  width: 25%;
  margin: 0;
  position: relative;
}

.bannercontent h2 {
  font-size: 2em;
}

.bannercontent .banbut a:hover {
  background-color: #B808FF;
}

.list ol li{
  padding: 0em;
  tex-decoration: none;
  list-style-type: none;
}

.list ol li p {
  width: 50%;
}

footer {
  margin: 0;
  padding: 1em;
  background-color: #212121;
  color: #fff;
}

.hours ol {
  padding: 0;
  list-style-type: none;
}

.hours a {
  text-decoration: none;
  color: #fff;
}

.hours a:hover {
  color: #B808FF;
}

.footlink ol {
  padding: 0;
}

.footlink li a {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.footlink li a:hover {
  color: #B808FF;
}

.footlink li {
  text-decoration: none;
  list-style-type: none;
}
